<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %}
        {% load static%}
        <link rel="stylesheet" href="{% static "style.css" %}">
    {% endcomment %}

    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <div class="sidebar">
        <h3>sidebar</h3>
        <ul>
            {% block sidebar %}
            <li><a href="/">Home</a></li>
            <li><a href="/admin/">Admin</a></li>
            {% endblock %}
        </ul>

    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>